html, body {
    width: 100%;
    height: 100%;
    color: #414141;
    border-color: #414141;
    background-color: #FBFBFB;
}

.Table {
    border: 1px solid #dedede;
    border-collapse: collapse;
    padding: 5px;
    font-size: 13px;
    background-color: white;
}

.Table-header {
    border-bottom: solid 1.5px #dedede;
}

.Table-row .row {
    align-items: center;
}

.Table-cell {
    padding: 5px;
}

.Page-title {
    margin-top: 30px;
}

.l-form__row {
    margin-bottom: 10px;
}

label {
    display: block;
}

.l-form__row textarea[name="content"] {
    height: 200px;
    width: 100%;
}

form.add-post input, form.content input {
    width: 100%;
}

.header {
    background-color: white;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
}

.header__item {
    display: inline-block;
    padding-left: 10px;
}

.header__logout {
    float: right;  
}

.button {
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 100px !important;
}

.button--orange {
    background-color: #ff896d; //#4497EA;
}

.l-content {
    margin-top: 30px;
}

.form--login {
    margin: 80px auto;
}

.form--login__title {
    text-align: center;
    margin-bottom: 30px;
}

.form--login input {
    width: 300px;
}

.form--login button {
    margin-top: 28px;
}