$blue: blue;
$red: red;
$medium-gray: #666666;
$light-gray: #e4e1e0;
$white: white;
$green-primary: #11bda9;

$font: 'Robot', sans-serif;
$font-color-medium: $medium-gray;

$border-gray: $light-gray;

// overload ionicons
$ionicons-font-path: '../../node_modules/ionicons/dist/fonts';
